.container .cont-p {
  margin-top: 50px;
  min-height: 450px;
  margin-bottom: 100px;
  padding: 0 70px 0 70px;
}

.container .cont-p .title {
  background: linear-gradient(90deg, #fff 21.1%, #2657a4 48.99%, #fff 76.87%);
  text-align: center;
}

.container .cont-p .title .tit {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
}

.container .cont-p .form{
    margin-top: 20px;
}

#description{
    min-height:200px;
}
