.covers {
  position: relative;
  margin-top: 100px;
  width: 1100px;
  height: 231px;
  border-radius: 10px;
  border: 2px solid rgba(81, 86, 94, 0.40);
  display: flex;
  flex-direction: row;
}

.covers img {
  width: 100%;
  border: 2px solid #51565e66;
  border-radius: 10px 10px 0 0;
  filter: blur(2px);
}

.covers .tex {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.covers .text {
  color: #ffffff;
  font-family: Inter;
  font-size: 30px;
  left: 16px;
  padding-left: 20px;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont2 {
  padding-left: 70px;
  padding-right: 70px;
  gap: 20px;
}

.mod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.mod span {
  color: #51565e;
}

.mod .mod1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.mod .mod1 img {
  width: 23.389px;
  height: 19.389px;
}

.mod h5 {
  font-size: 20px;
  font-family: Inter;
}

.description p {
  margin-top: 30px;
  font-family: Inter;
  font-style: normal;
  text-align: justify;
  font-size: 12px;
  color: #51565e;
}

.covers .icon {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 874px;
  top: 20px;
  background-image: url('../../image/icon/icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  height: 32px;
  background: linear-gradient(90deg, #fff 21.1%, #2657a4 48.99%, #fff 76.87%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.title h4 {
  color: #fff;
  font-size: 22px;
  font-family: Inter;
}

.sub {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-top: 40px;
}

.item {
  /* background-color: chartreuse; */
  /* border: 2px solid rgba(81, 86, 94, 0.40); */
  height: 30px;
  grid-template-rows: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item img {
  width: 23.07px;
  height: 22px;
}

.item h5 {
  font-size: 18px;
  font-family: Inter;
}

.subject {
  margin-bottom: 100px;
}

.description {
  margin-bottom: 100px;
}

.description p {
  font-family: Inter;
  font-style: normal;
  text-align: justify;
  font-size: 12px;
  color: #51565e;
}


